@use "variables" as *;

@media screen and (min-width: $mobile-breakpoint) {
  .gameDisplay {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    // background-color: #0b60f3;
    // color: #000000;
  }

  .box {
    width: 100px;
    height: 100px;
    box-shadow: 0.5px 0.5px 3px 0.5px #ffffff;
    line-height: 100px;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
  }
}